{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!--Partie du titre et image d'accueil-->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <!-- Titre -->
                <h1 class="fw-light">BIEN PLUS QU'UN CAMPING,</h1>
                <!-- Sous-titre -->
                <p class="lead text-muted">UN PARC SUR LA MEDITERANNEE</p>
            </div>
        </div>
    </section>


            <!-- START THE FEATURETTES -->
    <div class="container marketing">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Nos hébergements</h2>
                    <p class="lead">Au camping Le Brasilia, vous bénéficiez d’un grand choix d’hébergements locatifs (du bungalow au chalet ou cottage Premium) et d’emplacements pour tentes, caravanes, camping-cars et autres fourgons aménagés. Pour un couple, une famille ou un groupe d’amis, vous êtes assurés de trouver dans notre établissement du bord de mer de Canet en Roussillon l’offre d’accueil et d’hébergement correspondant à votre besoin !</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('img/NosHerbgements.webp') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">A Propos</h2>
                    <p class="lead">L’histoire du Brasilia, c’est avant tout une histoire de famille, attachée aux racines catalanes et aux valeurs d’origine de l’accueil touristique : placer le client au cœur de toutes les attentions.
                        Initiée par M. et Mme Pla et reprise par Roger leur fils, la politique de proximité avec les clients, l’écoute et la disponibilité ont toujours été les atouts forts du Brasilia. L’âme de notre camping des Pyrénées Orientales continue à vivre à travers les équipes actuelles qui suivent le chemin tracé par ses créateurs.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{{ asset('img/apropos.webp') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Infos Pratiques</h2>
                    <p class="lead">Les vacanciers susceptibles d’arriver après l’heure de fermeture de la réception pour raison exceptionnelle sont invités à téléphoner au +33 (0)4 68 80 23 82 aux horaires d’ouverture de la réception ou le cas échéant les gardiens de nuit au +33 (0)6 10 75 23 72 pour prévenir de leur arrivée tardive et organiser dans la mesure du possible un accueil tardif. Pour plus d’information, se reporter à la FAQ.</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('img/InfoPratique.webp') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
{% endblock %}
